<header class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar navbar-light">
                    <a class="navbar-brand"><i class="fab fa-delicious fa-2x"></i></a>
                    <form [formGroup]="form" class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                               formControlName="search" (keyup)="searchRun()">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
