<li class="list-group-item d-flex justify-content-between align-items-center"
    >
    {{userItem.data.name}}
    <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="userModal(edit)">Edit</button>
        <button type="button" class="btn btn-warning" (click)="userModal(delete)">Delete</button>
    </div>
</li>

<!-- Modal -->
<ng-template #edit>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-user-form [userFormItem]="userItem" (formItem)="formComplete($event)"></app-user-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!formDataValid" (click)="editUser(userItem)">
            Save
        </button>
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h3>Confirm to delete this user?</h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="deleteUser(userItem)">Confirm</button>
    </div>
</ng-template>
