/* You can add global styles to this file, and also import other style files */
/* Helper classes */
.has-margin-10 {
  margin: 10px;
}

.flex-vertical-aline {
    display: flex;
    align-items: center;
}
