.settings__header {
    border: 1px solid black;

    .settings__header-logo {
        border-right: 1px solid black;

        @media (max-width: 768px) {
            border: none;
        }
    }
}

.settings {
    &__content {
        border: 1px solid black;
    }

    &__sidebar {
        border-right: 1px solid black;

        @media (max-width: 768px) {
            border-right: none;
            border-bottom: 1px solid black;
        }
    }

    &__title {
        font-weight: bold;
    }

    &__main {
        & > section {
            padding: 20px;
        }

        .people {
            &__list {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__item {
                display: flex;
            }

            &__logo {
                img {
                    height: auto;
                    width: 70px;
                }
            }

            &__manage {
                margin: 10px;
                padding-top: 10px;
                display: block;
            }
        }
    }
}

.list-title {
    margin: 1rem 0 0;
}

.section--height-80 {
    height: 80px;
}

.appearance__checked {
    &-checkbox {
        position: relative;
        width: 40px;
        height: 20px;
        margin-left: 20px;

        .checkbox {
            visibility: hidden;

            &:checked {
                & ~ label {
                    background-color: green;

                    &:after {
                        position: absolute;
                        content: '';
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #fff;
                        transform: translateX(20px);
                    }
                }
            }

            &:not(:checked) {
                & ~ label {
                    &:after {
                        position: absolute;
                        content: '';
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #fff;
                        transform: translateX(0px);
                    }
                }
            }
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            background-color: grey;
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}

.appearance__title {
    margin: 0;
}

.appearance__select {
    margin-left: 20px;
}
