<div class="settings__header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 settings__header-label">
                <p>Settings part</p>
            </div>
            <div class="col-md-9">

            </div>
        </div>
    </div>
</div>

<div class="container settings">
    <div class="row settings__content">
        <aside class="col-md-3 settings__sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </aside>
        <section class="col-md-9">
            <div class="jumbotron"></div>
        </section>
    </div>
</div>

