<div class="container">
    <div class="row settings__header">
        <div class="col-md-3 settings__header-logo settings__title">
            <p>Settings part</p>
        </div>
        <div class="col-md-9">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container settings">
    <div class="row settings__content">
        <aside class="col-md-3 settings__sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/settings#people">People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings#appearance">Appearance</a>
                </li>
                <li class="nav-item">
                    <p class="list-title text-center font-weight-bold">Advanced</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings#printing">Printing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings#reset">Reset</a>
                </li>
            </ul>
        </aside>
        <main class="col-md-9 settings__main">
            <section id="people">
                <p class="settings__title">People</p>
                <div class="people border">
                    <div class="people__list has-margin-10">
                        <div class="people__item">
                            <div class="people__logo">
                                <img
                                    src="{{activeUser?.data.img ? activeUser?.data.img : './../../assets/img/user.png'}}"
                                    alt="user icon">
                            </div>
                            <div class="people__text">
                                <p>{{activeUser?.data.name}}</p>
                                <span class="font-italic">{{activeUser?.data.email}}</span>
                            </div>
                        </div>
                        <button class="btn btn-primary people__edit" (click)="userModal(edit)">Edit</button>
                    </div>
                    <a routerLink="/users" class="people__manage border-top">Manage other people</a>
                </div>
            </section>

            <section id="appearance">
                <p class="settings__title">Appearance</p>
                <div class="appearance border">
                    <div class="appearance__theme has-margin-10">
                        <p>Themes</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   [(ngModel)]="appearance.themeColor"
                                   (change)="setActiveTheme()"
                                   value="white"
                                   type="radio"
                                   name="inlineRadioOptions"
                                   id="inlineRadio1">
                            <label class="form-check-label" for="inlineRadio1">White</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   [(ngModel)]="appearance.themeColor"
                                   (change)="setActiveTheme()"
                                   value="black"
                                   type="radio"
                                   name="inlineRadioOptions"
                                   id="inlineRadio2">
                            <label class="form-check-label" for="inlineRadio2">Black</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   [(ngModel)]="appearance.themeColor"
                                   (change)="setActiveTheme()"
                                   value="red"
                                   type="radio"
                                   name="inlineRadioOptions"
                                   id="inlineRadio3">
                            <label class="form-check-label" for="inlineRadio3">Red</label>
                        </div>
                    </div>
                    <div class="appearance__bookmark has-margin-10 border-top">
                        <ul>
                            <li>
                                <span class="font-italic">{{bookmarkLast?.data.title}}</span>
                            </li>
                            <li>
                                <span class="font-italic">{{bookmarkPrevious?.data.title}}</span>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col">
                                <app-add-bookmark [isClean]="clearForm"
                                                  (formItem)="formComplete($event)"></app-add-bookmark>
                            </div>
                            <div class="col flex-vertical-aline">
                                <button class="align-middle"
                                        (click)="addBookmark()"
                                        [disabled]="!formDataValid">Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="appearance__checked section--height-80 border-top has-margin-10 flex-vertical-aline">
                        <p class="appearance__title">Show bookmarks</p>
                        <div class="appearance__checked-checkbox">
                            <input class="checkbox"
                                   (change)="setActiveTheme()"
                                   [(ngModel)]="appearance.showBookmarks"
                                   type="checkbox"
                                   id="appearanceCheckbox">
                            <label for="appearanceCheckbox"></label>
                        </div>
                    </div>
                    <div class="appearance__fonts section--height-80 border-top has-margin-10 flex-vertical-aline">
                        <p class="appearance__title">Font size</p>
                        <div class="appearance__select">
                            <select [(ngModel)]="appearance.fontSize" (change)="setActiveTheme()" class="custom-select mr-sm-2">
                                <option value="0.8">Small</option>
                                <option value="1">Medium</option>
                                <option value="1.2">Large</option>
                            </select>
                        </div>
                    </div>
                    <div class="appearance__zoom section--height-80 border-top has-margin-10 flex-vertical-aline">
                        <p class="appearance__title">Page zoom</p>
                        <div class="appearance__select">
                            <select [(ngModel)]="appearance.pageZoom" (change)="setActiveTheme()" class="custom-select mr-sm-2">
                                <option value="1">100%</option>
                                <option value="1.4">140%</option>
                                <option value="1.8">180%</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>

            <h2 class="text-center">Advanced</h2>

            <section id="printing">
                <p class="settings__title">Printing</p>
                <div class="printing border flex-vertical-aline section--height-80">
                    <div class="has-margin-10">
                        <button (click)="openPrint()">Printers</button>
                    </div>
                </div>
            </section>

            <section id="reset">
                <p class="settings__title">Reset</p>
                <div class="printing border flex-vertical-aline section--height-80">
                    <div class="has-margin-10">
                        <div>
                            <a href="/settings" (click)="resetOptions()">Reset</a>
                        </div>
                        <small>Restore settings to their original defaults</small>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>

<ng-template #edit>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-user-form [userFormItem]="activeUser" (formItem)="userFormComplete($event)"></app-user-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!formDataValid" (click)="editUser()">
            Save
        </button>
    </div>
</ng-template>

